name: Build Check

on:
  pull_request:
    branches: [ "development","main" ]

jobs:
  tests:
    name: Build Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Run Pester Unit Tests
        shell: pwsh
        run: |
          Invoke-Pester -Path ./tests/action.Tests.ps1

      - name: Run Integration Tests
        id: integration-tests
        uses: ./
        with:
          requester: 'bob-jones'
          approver: 'john-doe'
          
      - name: Check Integration Test Result
        shell: pwsh
        run: |
          if (("${{ steps.integration-tests.outputs.result }}" -eq "success")-and ("${{ steps.integration-tests.outputs.is-approver-not-requester }}" -eq "true")) {
            Write-Host "Test passed: Integration test simulated successfully."
          } else {
            Write-Host "Test failed: ${{ steps.integration-tests.outputs.error-message }}"
            exit 1
          }
